/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h4 {
    text-align: center;
    color: #2c3e50;
}

/* Links de navegação */
a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    
}

a:hover {
    text-decoration: underline;
}

/* Estilos dos formulários */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Responsividade */
@media (max-width: 600px) {
    main {
        margin: 10px;
        padding: 15px;
    }

    button {
        font-size: 14px;
    }
    
}
